        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="http://stratpoint.com">
                        <img src="themes/mytheme/image/sp-logo-white-6-350x100.png" alt="Stratpoint" title="">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-2">
                <h5 class="pb-3">&nbsp;</h5>
                <p class="mbr-text">&nbsp;</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-4">
                <h3 class="pb-3 mbr-color-white">
                    Contacts
                </h3>
                <p class="mbr-text">
                    Email: emailhere@stratpoint.com
                    <br>Phone: +1 (0) 000 0000 001
                    <br>Fax: +1 (0) 000 0000 002
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-4">
                <h3 class="pb-3 mbr-color-white">
                    Links
                </h3>

                <p class="mbr-text">
                    <a class="text-primary" href="http://stratpoint.com">Stratpoint website</a>&nbsp;<br>Customised Platforms&nbsp;<br>Research and Development</p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-2  ">
                        © Copyright 2018 Stratpoint, Stratpoint Labs, Stratpoint AI.<br> All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">

                </div>
            </div>
          </div>
